@{
    ViewData["Title"] = "Admin Area";
}



sssssss
<table class="table match-center">
    <tbody id="listMatches">
    </tbody>
</table>
<script>
    $(document).ready(function () {
        alert("EEEEE");
    });
</script>

@section Scripts{

  

    @*<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>*@
    <script src="~/js/admin.js"></script>
}